<!-- Links. -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Sidebar. -->
<div class="w3-sidebar w3-bar-block w3-card w3-center w3-animate-left" style="display:none" id="mySidebar" (click)="onClick()">
  <navbar-item-user></navbar-item-user>
  <navbar-item-refresh></navbar-item-refresh>
  <navbar-item-notification></navbar-item-notification>
  <navbar-item-exit></navbar-item-exit>
</div>