<!-- Links. -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- WELLCOME TITLE. -->
<h1 class="w3-jumbo w3-animate-center">¡Bienvenido a
    <label class="GB-color-maroon" id="GB-size-h1">GitBlog</label>!</h1>
<h3 class="w3-jumbo w3-animate-center"> Únete... </h3>
<img class="w3-center GB-animation-hover" id="login_image" src="https://firebasestorage.googleapis.com/v0/b/gitblog-2-0a.appspot.com/o/GH_marron.png?alt=media&token=c72fc222-ae9c-42dc-8765-5285649ec258"
    border="0" width="25%" height="25%" (click)='onClick()'>